<!Doctype html>
<html>
<body>
<h1> Welcome to assigntracker.com, <%= @user.name %></h1>
<p>
	You have successfully signed up to assigntracker.com.
	<br> 
	Thanks for your interest in our website.
	<%= @url %>
</p>
<p>Thanks for joining and have a great day!!!!.</p>
</body>
</html>