
<%= form_for [@assignment,Comment.new], :remote => true do |f| %>
	<fieldset>
		<ol>
			<li>
				<%= f.text_area :body, :rows => 2, :cols=>60,  :placeholder => "Place your comment here" ,:id => "text-area-comments"%>
			</li>
			<li>
				<%= f.submit "Post Comment", :id => "submit-button"%>
			</li>
		</ol>
	</fieldset>
<% end %>