<!Doctype html>
<html>
<body>
<h1> Hey <%= @creator.name %></h1>
<p>
	Your Assignment with id <%= @assignment.id %> has been destroyed by <%= @destroyer.name%>
	<br> 
	Ignore this mail if you agree with this.
	<br>
	<%= @url %>
</p>
<p>Have a great day!!!!.</p>
</body>
</html>