// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#comments-section{
	
}
ol#comments{
	font-size: 1.15em;
	list-style: none;
	padding: 0;
	li{
		margin: 1em 0;

		.date{
			font-size: .8em;
			font-weight: bold;
		}
		p{
			margin: 0;
			font-size: .95em;
		}
	}
}